body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f5f5f5;
}

header {
    background: #1b5e20;
    padding: 15px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.logo {
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 40px;
}

.banner {
    position: relative;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.6);
}

.banner-content h2 {
    font-size: 2.3rem;
    color: #fff;
    margin: 0;
}

.banner-content p {
    color: #f1f1f1;
    font-size: 1.1rem;
    margin-top: 5px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    text-decoration: underline;
}

.intro {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-left: 6px solid #1b5e20;
    border-radius: 6px;
    font-size: 1rem;
    line-height: 1.6;
}

.conteudo {
    width: 90%;
    max-width: 900px;
    background: white;
    margin: 30px auto 60px auto;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.conteudo h2 {
    color: #1b5e20;
    margin-top: 25px;
}

.conteudo p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.foto {
    width: 100%;
    max-width: 650px;
    display: block;
    margin: 10px auto 25px auto;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.download-livro {
    background: white;
    padding: 25px;
    border-left: 6px solid #1b5e20;
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    border-radius: 6px;
}

.download-livro h2 {
    color: #1b5e20;
    margin-bottom: 10px;
    font-size: 24px;
}

.botao-download {
    display: inline-block;
    padding: 12px 20px;
    background: #1b5e20;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

.botao-download:hover {
    background: #174d19;
}

.btn-culinaria {
    display: inline-block;
    background: #1b5e20;
    color: white;
    padding: 12px 22px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
    margin: 20px auto;
    text-align: center;
}

.btn-culinaria:hover {
    background: #2e7d32;
    transform: scale(1.05);
}

footer {
    background: #1b5e20;
    color: white;
    text-align: center;
    padding: 10px;
}
