body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f5f5f5;
}

header {
    background: #1b5e20;
    padding: 15px;
}

.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(80%);
}

.banner-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}

.banner-texto h2 {
    font-size: 40px;
}

.conteudo {
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.conteudo p {
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 15px;
}

/* FOOTER */
footer {
    background-color: #2e6b2e;
    text-align: center;
    padding: 15px;
    color: white;
    margin-top: 40px;
}

